/*********************************************************************
Modulename: details.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of showdetails.php

Version 1.0.0
2016-06-21
**********************************************************************/
/* -------------------------------------------------------------------------- */
/* EFFECT FOR GENERAL SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ IMPORT FONT ------- */
@import 'https://fonts.googleapis.com/css?family=Raleway';


/* -------------------------------------------------------------------------- */
/* EFFECT FOR UNIQUE SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV BUTTONS (BACK TO MAIN PAGE) ------- */
.div-buttons {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    margin: 20px auto;
    padding: 10px;
    text-align: right;
    width: 50%;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR BUTTONS (BACK TO MAIN PAGE, EDIT, DELETE) ------ */
.button {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    padding: 8px 8px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.button:hover {
    background-color: 	Gainsboro;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV WRAPPER ------- */
.div-wrapper {
    font-family: 'Raleway', sans-serif;
    margin: 10px auto;
    padding: 10px;
    background: #eee;
    border-radius: 20px;
    width: 50%;
    overflow: auto;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV-IMAGES AND IMAGES (LEFT SITE) ------- */
.div-images {
    width: 200px;
    float: left;
    text-align: center;
    margin: 20px;
}

.img-cover {
    width: 182px;
    height: 268px;
    border-radius: 10px;
}

.img-fsk {
    width: 80px;
    height: 80px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV TITLE, FSK-IMAGE AND DETAILS, BUTTONS "EDIT AND DELETE" (RIGHT SITE) ------- */
.hr-detail {
    height: 1px;
}

.div-details {
    position: relative;
    width: 600px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    text-align: left;
}

.div-title {
    float: left;
    max-width: 493px;
    text-align: left;
}

.div-fsk {
    text-align: right;
    margin-left: 30px;
}

.div-buttonsedit {
    text-align: right;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIFFERENT LABELS ------- */
.label-border {
    border: 1px solid black;
    padding: 8px 8px;
    line-height: 20px;
    border-radius: 5px;
    color: black;
    display: inline-block;
}

.label-title {
    font-size: 45px;
}

.label-bold {
    font-weight: bold;
}

