/*********************************************************************
Modulename: details.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of details.php

Version 1.0.0
2016-06-29
**********************************************************************/
/* -------------------------------------------------------------------------- */
/* EFFECT FOR GENERAL SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ IMPORT FONT ------- */
@import 'https://fonts.googleapis.com/css?family=Raleway';

/* ------ EFFECT FOR HEADLINE ------- */
h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 0;
}



/* -------------------------------------------------------------------------- */
/* EFFECT FOR UNIQUE SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR BACKGROUND ------- */
.div-background {
    background-image: url(../images/Elegant_Background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV WRAPPER ------- */
.div-wrapper {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    width: 50%;
    max-width: 80%;
    border: 2px solid #333;
    border-top: none;
    text-align: center;
    margin: 60px auto;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 550px;*/
    overflow: auto;
}

.top-border{
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: #333;
}

.right {
    right: 0;
    margin-top: -10px;
}

.left {
    left: 0;
    margin-top: -10px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV-IMAGES AND IMAGES (LEFT SITE) ------- */
.div-images {
    width: 200px;
    float: left;
    margin: 20px;
    margin-top: 10px;
}

.img-cover {
    width: 182px;
    height: 268px;
    border-radius: 10px;
}

.img-fsk {
    width: 80px;
    height: 80px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR FSK-IMAGE AND DETAILS (RIGHT SITE) ------- */
.div-details {
    position: absolute;
    width: 500px;
    float: right;
    margin-left: 360px;
    margin-top: 40px;
    text-align: left;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR VERTICAL LINE BETWEEN DIVS ------- */
.div-divider{
    position:absolute;
    top:10%;
    bottom:10%;
    margin-left: 280px;
    border-left:1px solid black;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIFFERENT LABELS ------- */
.label-frame {
    border: 1px solid black;
    padding: 8px 8px;
    line-height: 20px;
    border-radius: 5px;
    color: black;
    display: inline-block;
}

.label-bold {
    font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR BUTTONS ------- */
.button-delete, .button-edit {
  outline: 0;
  display: inline-block;
  padding: 20px;
  width: 200px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
    vertical-align: middle;
}

.button-delete, .button-edit:link, .button-delete, .button-edit:visited, .button-delete, .button-edit:link:hover, .button-delete, .button-edit:visited:hover {
  text-decoration: none;
  color: #fff;
}