/*********************************************************************
Modulename: formupdate.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of formupdateentry.php (Formular edit movie)

Version 1.0.0
2016-06-17
**********************************************************************/

/* -------------------------------------------------------------------------- */
/* EFFECT FOR FORMULAR EDIT ENTRY PAGE */
/* -------------------------------------------------------------------------- */

body {
    /*background-image: url(../img/background.jpg);*/
}


/*-----------------------------------------------------------------*/
/* EFFECT FOR TABLE FORM-HEADLINE */
.table-form {
    height: 90px;
    width: 900px;
    margin: auto;
}

/* EFFECT FOR TABLEHEADER IN TABLE HEADLINE */
.tr-form-headline {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 25px;
    position: relative;
    vertical-align: bottom;
}

/* EFFECT FOR TABLEHEADER HEADLINE TEXT */
.th-form-headline {
    text-align: left;
}

/* EFFECT FOR TABLEHEADER BUTTON BACK */
.th-form-buttonback {
    text-align: right;
}

/* EFFECT FOR BUTTON BACK IN TABLE HEADER */
.button-back {
    padding: 8px 8px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.button-back:hover {
    background-color: 	Gainsboro;
}

/*-----------------------------------------------------------------*/
/* DIV FOR GREY HORIZONTAL LINE */ 
.div-formheadline-line {
    margin: auto;
    position: relative;
    width: 900px;
    height: auto;
}

/*-----------------------------------------------------------------*/
/* DIV FORM WITH ALL ENTRIES */
.div-container-form {
    margin: auto;
    position: relative;
    width: 900px;
    height: auto;
    border: 1px solid lightgray;
}

/*-----------------------------------------------------------------*/
/* EFFECT FOR TEXT BOX, DATE BOX, NUMBER BOX; DROPDOWN BOX, TEXTAREA BOX, LABEL IN FORM */
input[type="text"] {
    padding: 8px 8px;
    line-height: 1px;
}

input[type="date"] {
    padding: 8px 8px;
    line-height: 10px;
}

select {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-align: left;
    padding: 8px 8px;
    line-height: 10px; 
}

input[type="number"] {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-align: left;
    padding: 8px 8px;
    line-height: 10px;
}

textarea {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-align: left;
    padding: 8px 8px;
    line-height: 10px;
}

label {
    font-weight: bold;
}

/*-----------------------------------------------------------------*/
/* EFFECT FOR BUTTON EDIT ENTRY */
.button-editentry {
    padding: 8px 8px;
    line-height: 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 25px;
    background-color: lightgrey;
}

.button-editentry:hover {
    background-color: 	Gainsboro;
}


/*-----------------------------------------------------------------*/
/* EFFECT FOR TABLE */
.table-editmovie{
    border-collapse: collapse;
}
    
th {
    background-color: grey;
    border-bottom: 1px solid #ddd;
    height: 30px;
    padding: 8px;
    text-align: left;
    width: 10%;
}

td {
    border-bottom: 1px solid #ddd;
    height: 25px;
    padding: 8px;
    text-align: left;   
}

