/*********************************************************************
Modulename: formupdate.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of formupdateentry.php (Formular edit movie)

Version 1.0.0
2016-07-04
**********************************************************************/
/* -------------------------------------------------------------------------- */
/* EFFECT FOR GENERAL SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ IMPORT FONT ------- */
@import 'https://fonts.googleapis.com/css?family=Raleway';


/* -------------------------------------------------------------------------- */
/* EFFECT FOR UNIQUE SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/*-----------------------------------------------------------------*/
/* HEADLINE DIV */ 
.div-headline {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    position: absolute;
    width: 1200px;
    height: auto;
    top:270px;
    left: 0;
    right: 0;
    font-size: 30px;
}

/*-----------------------------------------------------------------*/
/* DIV FORM WITH ALL ENTRIES */
.div-container-form {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    width: 1200px;
    height: auto;
    border: 1px solid lightgray;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    position: absolute;
    top: 340px;
    left: 0;
    right: 0;
}

/*-----------------------------------------------------------------*/
/* EFFECT FOR TEXT BOX, DATE BOX, NUMBER BOX, DROPDOWN BOX, TEXTAREA BOX, LABEL IN FORM */
input[type="text"], input[type="date"] {
    padding: 8px 8px;
    line-height: 1px;
}

select, input[type="number"], textarea {
    text-align: left;
    padding: 8px 8px;
    line-height: 10px; 
}

/*-----------------------------------------------------------------*/
/* EFFECT FOR TABLE */
.table-editmovie{
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border-bottom: 1px solid #ddd;
    height: 25px;
    padding: 8px;
    text-align: left;
    width: 45%;
}

.first {
    width: 25%;
    font-weight: bold;
}

div {
    width: 90%;
}

/*-----------------------------------------------------------------*/
/* EFFECT FOR BUTTON ADD ENTRY */
.editentry {
    padding: 8px 8px;
    line-height: 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 25px;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.editentry:hover {
    background-color: 	Gainsboro;
}
