/*********************************************************************
Modulename: header.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of header.html

Version 1.0.0
2016-06-16
**********************************************************************/

/* -------------------------------------------------------------------------- */
/* EFFECT FOR HEADER */
/* -------------------------------------------------------------------------- */

@font-face {
    font-family: 'goodtimes';
    src: url('../fonts/goodtimesrg.ttf') format('truetype');
}

/*body {
    background-image: url(../img/background.jpg);
}*/

/* -------------------------------------------------------------------------- */
/* ------ HEADLINE ------- */
h1 {
    font-family: 'goodtimes';
    text-align: center;
}

.user-letters{
    color: firebrick;
}

.database-letters {
    color: grey;
}

/* -------------------------------------------------------------------------- */
/* ------ HORIZONTAL LINE ------- */
hr {
    height: 5px;
    background-color: grey;
    border-width: 0;
}
