/*********************************************************************
Modulename: index.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of index.php (main page of movieDB)

Version 1.0.0
2016-07-07
**********************************************************************/

/* -------------------------------------------------------------------------- */
/* EFFECT FOR GENERAL SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ IMPORT FONT ------- */
@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body {
    height:100%;
}


/* -------------------------------------------------------------------------- */
/* EFFECT FOR UNIQUE SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR WRAPPER DIV ------- */
.div-container-content {
    position : absolute;
    min-height: 100%;
    top: 230px;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: url(/mediaDB/images/Abstract-blue-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-wrapper-movies {
    display: inline-block;
    width: 80%;
    margin-top: 60px;
    border-radius: 15px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV COVER ------- */
.div-cover {
    float: left;
    width: 220px;
    height: auto;
    margin-top: 50px;
    margin-left: 20px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR TITLE + GENRE SPAN ------- */
.title, .genre {
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.genre {
    color: black;
    font-size: 14px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR IMAGES IN DIV COVER ------- */
img {
    border-width: 0px;
    width: 182px;
    height: 268px;
    border-radius: 5px;
}