/*********************************************************************
Modulename: message.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of entryfailed.php, uploadfailed.php, entrysucceed.html, confirmdelete.php, deletesucceed.html, updatesucceed.html

Version 1.0.0
2016-06-16
**********************************************************************/

/* -------------------------------------------------------------------------- */
/* EFFECT FOR MESSAGE PAGES */
/* -------------------------------------------------------------------------- */

/*body {
    background-image: url(../img/background.jpg);
}*/

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR LABEL ------- */
label {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 25px;
}

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV MESSAGE ------- */
.div {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    border: solid 1px black;
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

/*-----------------------------------------------------------------*/
/* ------ EFFCT FOR LINK TO NEW ENTRY ------ */
.button {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    padding: 8px 8px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.button:hover {
    background-color: 	Gainsboro;
}
