/*********************************************************************
Modulename: message.css
Project:    mediaDB
Author:     Sarah Ebelsheiser <sarah.ebel@outlook.com>

CSS Style Sheet of entryfailed.php, uploadfailed.php, entrysucceed.html, confirmdelete.php, deletesucceed.html, updatesucceed.html

Version 1.0.0
2016-06-23
**********************************************************************/
/* -------------------------------------------------------------------------- */
/* EFFECT FOR GENERAL SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ IMPORT FONT ------- */
@import 'https://fonts.googleapis.com/css?family=Raleway';


/* -------------------------------------------------------------------------- */
/* EFFECT FOR UNIQUE SETTINGS ON THIS PAGE */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------ EFFECT FOR DIV MESSAGE ------- */
.div {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    border: solid 1px black;
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

/*-----------------------------------------------------------------*/
/* ------ EFFECT FOR BUTTON YES / NO  ------ */
.button:hover {
    background-color: 	Gainsboro;
}

.yes, .no {
    margin-left: 20px;
    width: 50px;
}

/*-----------------------------------------------------------------*/
/* ------ EFFECT FOR SPAN TIMER  ------ */
.timer {
    font-size: 18px;
}